@model web_project.Models.data_database.tbl_user

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tbl_user</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.user_psw)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_psw)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_type)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.user_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
