@model web.Models.tbl_attandance

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>tbl_attandance</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.att_date)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.att_date)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.att_type)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.att_type)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.att_description)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.att_description)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.tbl_student.stu_name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.tbl_student.stu_name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.tbl_subject.sub_name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.tbl_subject.sub_name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.tbl_teacher.tea_email)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.tbl_teacher.tea_email)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>
</html>
