@model IEnumerable<web.Models.tbl_score>
@{
    Layout = null;
}
@using web.Models;
@{
    web_projectEntities1 db = new web_projectEntities1();
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
          crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/style.css">
    <title>Document</title>
    @*<script type="text/javascript">
        function scoreOOAD() {
            var f;
            @{
                var _queryScore = from sc in db.tbl_score.ToList() join st in db.tbl_student.ToList() on sc.stu_id equals st.stu_id select sc;
            }
            var table_data = "<tr><th>Attendance</th><th>Assignment</th><th>Homework</th><th>Final Exam</th></tr><tr><td>" + @_queryScore.SingleOrDefault().attandance + "</td><td>"+@_queryScore.SingleOrDefault().assignment +"</td><td>"+@_queryScore.SingleOrDefault().homework+"</td><td>"+@_queryScore.SingleOrDefault().final_exam+"</td></tr>";
            document.getElementById('table_score').innerHTML = table_data;
        }
    </script>*@
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="~/img/logo1.png" alt="" height="90px" width="190px">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Subject <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Schedule</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Assignment</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Attendance</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Score</a>
                </li>
            </ul>
        </div>
    </nav>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="../Menu/Menu">Menu</a></li>
            <li class="breadcrumb-item active" aria-current="page">Assignment&Homework</li>
        </ol>
    </nav>

    <div class="container">
        <!-- subject -->
        <div class="row">
            <div class="col ">
                <div class="">
                    <a href="#">
                        <button class="btn btn-primary scoreBack" name="btnSub" onclick="location.href='@Url.Action("OOAD","Score")'">OOAD</button>
                    </a>
                </div>
            </div>
            <div class="col ">
                <div class="">
                    <a href="#">
                        <button class="btn btn-primary scoreBack" onclick="location.href='@Url.Action("WEB","Score")'">WEB</button>
                    </a>
                </div>
            </div>
            <div class="col ">
                <div class="">
                    <a href="#">
                        <button class="btn btn-primary scoreBack" onclick="location.href='@Url.Action("SE","Score")'">SE</button>
                    </a>
                </div>
            </div>
            <div class="col ">
                <div class="">
                    <a href="#">
                        <button class="btn btn-primary scoreBack" onclick="location.href='@Url.Action("Linux","Score")'">Linux</button>
                    </a>
                </div>
            </div>
            <div class="col ">
                <div class="">
                    <a href="#">
                        <button class="btn btn-primary scoreBack" onclick="location.href='@Url.Action("MIS","Score")'">MIS</button>
                    </a>
                </div>
            </div>
        </div>
        <!-- end subject -->
        <!-- score -->
        <table class="table" id="table_score">
            <tr>
                <th>
                    @*@Html.DisplayNameFor(model => model.attandance)*@
                    Attendance
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.homework)*@
                    Homework
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.assignment)*@
                    Assignment
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.final_exam)*@
                    Final Exam
                </th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.attandance)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.homework)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.assignment)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.final_exam)
                    </td>
                    @*<td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>*@
                </tr>
            }

        </table>
        <!-- end score -->
    </div>
    <!--end content-->
    <!--footer-->
    <footer class="page-footer font-small cyan darken-3 special-color-dark ">
        <center>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 py-5">
                        <div class="flex-center">
                            <a class="fb-ic">
                                <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                            </a>
                            <a class="tw-ic">
                                <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                            </a>
                            <a class="gplus-ic">
                                <i class="fab fa-google-plus-g fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                            </a>
                            <a class="li-ic">
                                <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                            </a>
                            <a class="ins-ic">
                                <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                            </a>
                            <a class="pin-ic">
                                <i class="fab fa-pinterest fa-lg white-text fa-2x"> </i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-copyright text-center py-3">
                <span>2018 © Royal University of Phnom Penh</span>
            </div>
        </center>
    </footer>
</body>

</html>
