@model web.Models.tbl_score

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tbl_score</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.score_id1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.score_id1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_student.stu_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_student.stu_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_teacher.tea_email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_teacher.tea_email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
