@model web.Models.tbl_schdedule

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tbl_schdedule</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tbl_class.class_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_class.class_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_subject.sub_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_subject.sub_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_teacher.tea_email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_teacher.tea_email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_day.day)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_day.day)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_time.times)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_time.times)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
