@model web.Models.tbl_schdedule

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tbl_schdedule</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tbl_class.class_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_class.class_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_subject.sub_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_subject.sub_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_teacher.tea_email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_teacher.tea_email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_day.day)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_day.day)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_time.times)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_time.times)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.sch_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
