@model IEnumerable<web.Models.tbl_schdedule>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tbl_class.class_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_subject.sub_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_teacher.tea_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_day.day)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_time.times)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_class.class_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_subject.sub_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_teacher.tea_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_day.day)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_time.times)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.sch_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.sch_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.sch_id })
        </td>
    </tr>
}

</table>
